<a href="https://colab.research.google.com/github/19PA1A0512/ensemble-methods1/blob/master/project2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,classification_report
from sklearn.metrics import accuracy_score

In [0]:
df=pd.read_csv("diabetes.csv")
df

     Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 9 columns]

*processing is done by using isna().any() functions to check whether there are null values or not*

In [0]:
df.isna().any()

Pregnancies                 False
Glucose                     False
BloodPressure               False
SkinThickness               False
Insulin                     False
BMI                         False
DiabetesPedigreeFunction    False
Age                         False
Outcome                     False
dtype: bool

In [0]:
df.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [0]:
features=list(df.columns[:8])
features

['Pregnancies',
 'Glucose',
 'BloodPressure',
 'SkinThickness',
 'Insulin',
 'BMI',
 'DiabetesPedigreeFunction',
 'Age']

In [0]:
x=df[features]
y=df['Outcome']

* By using train_test_split we are diving our model to test data and train data for better working of model.*

In [0]:
X_train,X_test,Y_train,Y_test=train_test_split(x,y,test_size=0.2)

*We use decision tree classifier here to check our model.*

In [0]:
clf=DecisionTreeClassifier ()
clf=clf.fit(X_train,Y_train)
y_pred=clf.predict(X_test)

In [0]:
print(metrics.accuracy_score(Y_test,y_pred))

0.7272727272727273

In [0]:
print(classification_report(Y_test,y_pred))

              precision    recall  f1-score   support

           0       0.80      0.77      0.79       101
           1       0.60      0.64      0.62        53

    accuracy                           0.73       154
   macro avg       0.70      0.71      0.70       154
weighted avg       0.73      0.73      0.73       154

In [0]:
from sklearn.ensemble import RandomForestClassifier

*Now we are evaluating our model by using randomforest algorithm*

In [0]:
clf1=RandomForestClassifier()
clf1.fit(X_train,Y_train)
y_pred1=clf1.predict(X_test)
print(metrics.accuracy_score(Y_test,y_pred1))

0.7532467532467533

In [0]:
print(classification_report(Y_test,y_pred1))

              precision    recall  f1-score   support

           0       0.81      0.82      0.81       101
           1       0.65      0.62      0.63        53

    accuracy                           0.75       154
   macro avg       0.73      0.72      0.72       154
weighted avg       0.75      0.75      0.75       154

In [0]:
from sklearn.ensemble import AdaBoostClassifier

*Here we evaluating through performing adboost classifier *

In [0]:
clf2=AdaBoostClassifier(n_estimators=100)

clf2.fit(X_train,Y_train)
y_pred2=clf2.predict(X_test)
print(metrics.accuracy_score(Y_test,y_pred2))

0.7402597402597403

In [0]:
print(classification_report(Y_test,y_pred2))

              precision    recall  f1-score   support

           0       0.80      0.80      0.80       101
           1       0.62      0.62      0.62        53

    accuracy                           0.74       154
   macro avg       0.71      0.71      0.71       154
weighted avg       0.74      0.74      0.74       154

# Conclusion
* Random forest classifier is performing better than other models in terms of accuracy,f1 scorscore.



Randomforest will reduce variance part of error rather than bias.

*Performance of the clasifier is based on available data set and nature.