<a href="https://colab.research.google.com/github/19PA1A0512/ensemble-methods1/blob/master/project%20ensemble%20methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np #for handling matrix
import pandas as pd # for handling matrix
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,classification_report,mean_squared_error
from sklearn.metrics import accuracy_score

In [44]:
df=pd.read_csv("diabetes.csv")
df

     Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 9 columns]

*processing is done by using isna().any() functions to check whether there are null values or not*

In [45]:
df.isna().any()

Pregnancies                 False
Glucose                     False
BloodPressure               False
SkinThickness               False
Insulin                     False
BMI                         False
DiabetesPedigreeFunction    False
Age                         False
Outcome                     False
dtype: bool

In [46]:
df.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [47]:
features=list(df.columns[:8])
features

['Pregnancies',
 'Glucose',
 'BloodPressure',
 'SkinThickness',
 'Insulin',
 'BMI',
 'DiabetesPedigreeFunction',
 'Age']

In [0]:
x=df[features]
y=df['Outcome']

* By using train_test_split we are diving our model to test data and train data for better working of model.*

In [0]:
X_train,X_test,Y_train,Y_test=train_test_split(x,y,test_size=0.2)

*We use decision tree classifier here to check our model.*

In [0]:
clf=DecisionTreeClassifier ()
clf=clf.fit(X_train,Y_train)
y_pred=clf.predict(X_test)

In [51]:
print(metrics.accuracy_score(Y_test,y_pred))

0.7467532467532467

Accuracy score isprediction of correct predictions to total no of predictions

In [52]:
print(metrics.mean_squared_error(Y_test,y_pred))

0.2532467532467532

mean squared error is average squared difference between estimated values and actual values

In [53]:
print(classification_report(Y_test,y_pred))

              precision    recall  f1-score   support

           0       0.79      0.84      0.82       102
           1       0.64      0.56      0.60        52

    accuracy                           0.75       154
   macro avg       0.72      0.70      0.71       154
weighted avg       0.74      0.75      0.74       154

In [0]:
from sklearn.ensemble import RandomForestClassifier

*Now we are evaluating our model by using randomforest algorithm*

In [55]:
clf1=RandomForestClassifier()
clf1.fit(X_train,Y_train)
y_pred1=clf1.predict(X_test)
print(metrics.accuracy_score(Y_test,y_pred1))

0.7857142857142857

In [56]:
print(metrics.mean_squared_error(Y_test,y_pred1))

0.21428571428571427

In [57]:
print(classification_report(Y_test,y_pred1))

              precision    recall  f1-score   support

           0       0.79      0.93      0.85       102
           1       0.79      0.50      0.61        52

    accuracy                           0.79       154
   macro avg       0.79      0.72      0.73       154
weighted avg       0.79      0.79      0.77       154

In [0]:
from sklearn.ensemble import AdaBoostClassifier

*Here we evaluating through performing adboost classifier *

In [59]:
clf2=AdaBoostClassifier(n_estimators=100)

clf2.fit(X_train,Y_train)
y_pred2=clf2.predict(X_test)
print(metrics.accuracy_score(Y_test,y_pred2))

0.8051948051948052

In [60]:
print(metrics.mean_squared_error(Y_test,y_pred2))

0.19480519480519481

In [61]:
print(classification_report(Y_test,y_pred2))

              precision    recall  f1-score   support

           0       0.81      0.92      0.86       102
           1       0.79      0.58      0.67        52

    accuracy                           0.81       154
   macro avg       0.80      0.75      0.76       154
weighted avg       0.80      0.81      0.80       154

# Conclusion
* Random forest classifier is performing better than other models in terms of accuracy,f1 scorscore.



Randomforest will reduce variance part of error rather than bias.

*Performance of the clasifier is based on available data set and nature.